.checkout-steps {
  .ant-steps-item-container {
    .ant-steps-item-icon {
      .ant-steps-icon {
        font-size: 1.8rem;
      }
    }
    .ant-steps-item-content {
      .ant-steps-item-title {
        font-size: 1.8rem;
      }
    }
  }
}

.steps-action {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  flex-direction: row-reverse;
  &__button.ant-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.9rem;
    img {
      position: absolute;
      top: calc(50% - 0.8rem);
      height: 1.6rem;
    }
  }
  &__button {
    &--next img {
      right: 0.8rem;
    }
    &--prev.ant-btn {
      background-color: #e5f6f0;
      color: var(--primary);
      img {
        left: 0.8rem;
      }
    }
  }
}

.address-modal.ant-modal {
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer {
    display: none;
  }
  min-width: 95.6rem;
}
