.product {
  &__name {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
  }
  &__id {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
  &__des {
    > div {
      display: inline;
    }
    > p {
      display: inline;
    }
    > span {
      display: inline;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.ant-breadcrumb {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.125rem;
}
