$text_disable_color: #a3a3a3;

.sdk-file-item {
  display: flex;
  &__left {
    border-radius: 8px;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    img{
      width: 48px;
      height: 48px;
      max-width: none;
    }
  }
  &__information {
    display: flex;
  align-items: center;
  justify-content: space-between;
    width: 100%;
  }
  &__title {
    display: flex;
  }

  &__name {
    font-weight: bolder;
    font-size: 1.6rem;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__size {
    color: $text_disable_color;
  }
  &__btn {
    cursor: pointer;
  }
}
