.contact-form {
    &__container {
        border-radius: 0.4rem;
    }
    &__right,
    &__left {
        padding: 0.8rem;
        &--image {
            width: 100%;
        }
    }
    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__right {
        .content-infor {
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            color: #787878;
            margin: 0.3rem 0;
        }
    }
}

.form {
    &__container {
        padding: 2rem;
        width: 100%;
    }
    &__title {
        h2 {
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 3rem;
        }
    }
    &__item {
        span {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }
}

.ant-col.ant-form-item-control {
    margin-top: 0.8rem;
}