.change-current-button {
  &:hover,
  :active,
  :focus,
  :visited {
    color: var(--primary);
    background: rgb(229, 246, 240) none repeat scroll 0% 0%;
  }
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  min-width: max-content;
  padding: 0.8rem;
  border: 1px solid rgb(229, 246, 240);
  border-radius: 0.4rem;
  font-size: 1.5rem;
  font-weight: 550;
  color: var(--primary);
  background: rgb(229, 246, 240) none repeat scroll 0% 0%;
  cursor: pointer;
}
