.logo {
  width: 90px;
  height: 100%;
  margin-right: 24px;
  cursor: pointer;
  .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    .logo-title {
      font-size: 25px;
      font-weight: bolder;
      color: var(--secondary);
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-self: start;
  flex-direction: row;
  flex: 1 1 0%;
  font-size: 18px;
  &__item {
    display: inline-flex;
    align-items: center;
    min-width: max-content;
    height: 30px;
    max-height: max-content;
    margin: 0 6px;
    padding: 4px 8px;
  }
  .active {
    margin-left: 20px;
    color: var(--secondary) !important;
  }
}

.ant-dropdown-menu.sub__menu {
  min-width: max-content;
  width: 100%;
  min-height: max-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px 0px;
  border-radius: 2px;
  background-color: var(--quaternary);
  .sub__menu-item.ant-dropdown-menu-item {
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-color: #ffe4cc;
    }
    &:hover > a {
      color: var(--secondary) !important;
    }
    line-height: 1.5715;
    padding: 12px;
    font-size: 16px;
  }
}

.right-group {
  display: flex;
  align-items: center;
  min-width: max-content;
  margin-left: 12px;
  font-size: 18px;
  color: #555;
  background-color: var(--quaternary);
  .button {
    margin-top: 8px;
    margin-right: 18px;
    padding: 0 5px;
    cursor: pointer;
    &-login {
      margin-left: 18px;
      padding: 0 5px;
    }
  }
}
