html {
  --antd-wave-shadow-color: $orange !important;
}

.btn-remove-cart {
  background-color: var(--secondary) !important;
  color: white !important;
  border: none;
  height: 32px;
  width: 72px;

  &:active,
  &:focus {
    background-color: var(--secondary) !important;
    color: white !important;
    border: none;
    height: 32px;
    width: 72px;
  }
}

.btn-cancel-remove {
  &:hover,
  &:active {
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
  }
}

.additional-product-container {
  .slick-prev {
    left: -15px;
    z-index: 2;
    width: 30px;
    height: 30px;
  }

  .slick-next {
    right: -20px;
    width: 30px;
    height: 30px;
  }
}

.additional-product-container {
  .flash-food-card-container {
    width: 180px;
  }

  .slick-list {
    width: 320px;
    padding-left: 0px !important;
  }
}
