.address-form {
  &__title {
    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 3rem;
    }
  }
  &__item {
    span {
      font-size: 1.8rem;
      line-height: 2.25rem;
    }
  }
}
