$breakpoints: (
  xs: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin tabletXs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin padding($space) {
  padding: map-get($spacing, $space);
}
@mixin margin($space) {
  margin: map-get($spacing, $space);
}
