.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  color: var(--secondary);
  border-right: 1.5px solid var(--secondary);
}

.ant-menu-vertical .ant-menu-item:hover,
.ant-menu-vertical-left .ant-menu-item:hover,
.ant-menu-vertical-right .ant-menu-item:hover,
.ant-menu-inline .ant-menu-item:hover {
  background-color: #ffe4cc;
  color: var(--secondary);
  border-right: 4.5px solid var(--secondary);
}

.ant-menu-item {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.ant-menu-item-selected {
  border-right: 1.5px solid var(--secondary);
  color: var(--secondary);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  border-right: 3px solid var(--secondary);
  color: var(--secondary);
  background-color: #ffe4cc;
}
