$pink_color: #ffe8e8;
$red_10: #fe7777;
$bg_success_color: #ebfbea;
$border_success_color: #89e482;
$yellow_90: #fff9ec;
$yellow_100: #ffda8b;
$toast_info_border: #85a0ff;
$toast_info_bg: #ebefff;

.toast-container{
  position: fixed;
  top: 72px;
  right: 12px;
  width: 416px;
}

.toast {
  &__item{
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    z-index: 2;
    margin-bottom: 12px;
    animation: fadeInToast 1s ease-in-out;
  }
  &__error{
    background-color: $pink_color;
    border: 1px solid $red_10;
  }
  &__success{
    background-color: $bg_success_color;
    border: 1px solid $border_success_color;
  }
  &__warning{
    background-color: $yellow_90;
    border: 1px solid $yellow_100;
  }
  &__info{
    background-color: $toast_info_bg;
    border: 1px solid $toast_info_border;
  }
  &__header {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 7px 0 12px 4px;
    p {
      margin-left: 9px;
    }
  }
  &__message {
    font-size: 14px;
    margin-left: 32px;
    max-width: 370px;
    padding-bottom: 11px;
  }
}

.toast__close{
  margin: 0px 9px 0px auto;
  cursor: pointer;
}

.toast__hidden{
  display: none;
}

.toast__show{
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    right: -416px;
    opacity: 0;
  }
  100% {
    right: 8px;
    opacity: 1;
  }
}

@keyframes fadeInToast {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
  }
}
	

@media screen and (min-width: 375px) and (max-width: 1280px) {
  .toast {
    top: 68px;
    right: 16px;
    width: 343px;
    &__message {
      max-width: 287px;
    }
  }
}
