.category-filter-container {
  margin-top: 20px !important;
}

.category-filter-option-container {
  margin-top: 24px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: #eee;
  padding: 12px;
  border-radius: 4px;

  .option-title {
    white-space: nowrap;
    margin-right: 16px;
  }

  .category-filter-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .option-select-single {
    flex: 1;
    overflow: hidden;
    width: 100%;
  }

  .ant-input-wrapper {
    input {
      &:focus {
        box-shadow: none !important;
      }
    }
  }
}
