@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-RegularItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-SemiboldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-Heavy.otf);
  font-weight: 800;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/SF-Pro-Display-HeavyItalic.otf);
  font-weight: 800;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
p{
  margin: 0;
}
