.banner-template-item {
  height: calc(100vw / 2.6);
  max-height: 740px;
  max-width: 1920px;
  width: 100vw;
  background-color: white;
  background-position: center;
  background-size: cover;
  position: relative;
}

.ant-carousel {
  .slick-dots {
    bottom: 100px;
    display: flex !important;
    justify-content: center;
    max-width: max-content;
    height: 14px;
    margin: auto;
    padding: 4px;
    border-radius: 8px;
    background: white;
    li {
      position: relative;
      display: inline-block;
      flex: 0 1 auto;
      width: 24px;
      margin-right: 3px;
      margin-left: 3px;
      &.slick-active {
        width: 30px;
        button {
          background: var(--secondary);
        }
      }
      button {
        height: 6px;
        border-radius: 20px;
        background: var(--secondary);
      }
    }
  }
}
