.category {
  &-container {
    margin-top: 40px;
    margin-bottom: 60px;
    max-width: 100vw;
  }

  &__tabbar {
    text-align: center;
  }
  &__link {
    display: inline-block;
    width: 100%;
    &--div {
      padding: 6px 0;
      border-radius: 4px;
      font-size: 24px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    }
  }
}
