.search {
    &__container,
    &__title {
        margin: 2.4rem 0;
        h2 {
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 2.25rem;
        }
    }
    &__container {
        margin-bottom: 4.8rem;
    }
    &__body {
        padding: 2.4rem;
        background-color: #eee;
        border-radius: 0.4rem;
    }
}